<!---------------------------------------------------------------------------------------------------->
         <!-- <div class="container-fluid B">
             <div class="row">
                <div class="iframe">
                    <iframe frameborder="0" src=" <%= url_for :action => 'surprised/slideshow/index3.html' %> " name="slide" height="100%" width="100%" scrollbars="no"></iframe>
                </div>
             </div>
         </div> -->
        <!---------------------------------------------------------------------------------------------------->
 
         <div class="container" style="border-bottom:1px solid #000;padding-bottom:20px;">
             <div class="row">
                <h3 style="border-left:1px solid #000;padding-left:10px;">NEW TRENDS</h3>
             </div>
             <div class="row" style="padding-top:10px;">
                 <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2">
                     <%= image_tag("men.png",  :class => 'img-responsive')%>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom:1px solid #000;">
                        <div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-7 col-xs-offset-5">
                            <h4>New Brands For</h4>
                        </div>
                        <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-5">
                            <h4>Men Or</h4>
                        </div>
                        <div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-5">
                            <h4>Women</h4>
                        </div>
                    </div>
                     <div class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-4"style="padding-top:15px;">
                         Wheather You Are Heading To<br>The desert Or Keeping It Local.
                     </div>
                 </div>
                 <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-10
                 col-xs-offset-1">
                    <%= image_tag("women.png",  :class => 'img-responsive')%>
                 </div>
             </div>
         </div>
         <!-------------------------------------------------------------------------------------------------->
         <div class="container" style="border-bottom:1px solid #000;padding-bottom:20px;">
             <div class="row">
                 <h3 style="border-left:1px solid #000;padding-left:10px;">DISCOUNT</h3>
             </div>
             <div class="row" style="padding-top:5px;">
                 <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-top:15px;">
                     <div class="row">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <%= image_tag("img2.jpg",  :class => 'img-responsive')%>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top:30px;">
                             <%= image_tag("img4.jpg",  :class => 'img-responsive')%>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top:30px;">
                             <%= image_tag("img5.jpg",  :class => 'img-responsive')%>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                     <div class="row">
                         <div class="col-lg-12">
                            <%= image_tag("img3.jpg",  :class => 'img-responsive')%>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!------------------------------------------------------------------------------------------------>
         <div class="container">
             <div class="row">
                 <h3 style="border-left:1px solid #000;padding-left:10px;">OFFERS</h3>
             </div>
         </div>
         <div class="container-fluid">
             <div class="row">
                 <%= image_tag("img7.jpg",  :class => 'img-responsive back')%>
                 <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-6 men">
                        <%= image_tag("img8.png",  :class => 'img-responsive')%>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-5 col-xs-5 margin limited lim">
                        <div class="col-xs-12 limited period" style="padding-top:140px;">
                            <h1 style="border-bottom:1px solid #000;padding-left:50px;font-family:times new roman;">Limited Period Offer</h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 exmain">
                            <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-13 exc">
                                <h2>Exclusive Offer For</h2>
                            </div>
                            <div class="col-lg-5 col-lg-offset-4 col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-2 col-xs-12 ex mens">
                               <h2>Mens</h2>
                            </div>
                            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12 ex in">
                                <h2>In Formal Suits</h2>
                            </div>
                        </div>
                    </div>
                 </div>   
             </div>
         </div>
         <div class="container" style="border-bottom:1px solid #000;padding-top:5px;"></div>
        <!---------------------------------------------------------------------------------------------->
         <div class="container" style="border-bottom:1px solid #000;padding-bottom:15px;">
              <div class="row">
                 <h3 style="border-left:1px solid #000;padding-left:10px;">FEATURED PRODUCTS</h3>
              </div>
                  <div class="row" style="padding-top:10px;">
                   <% @products.each do |product| %>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11 imgborder">
                            <%= image_tag("/uploads/"+product.photo1,:class => 'img-responsive boximg') %>
                            <!-- <img src="./images/img9.png" class="img-responsive boximg" style="padding-top:15px;"> -->
                            <div class="col-xs-12">
                                <div class="col-xs-12 family" style="padding-top:5px;"><%= product.product_name %>
                                </div>
                                <div class="col-xs-12 family" style="padding-top:5px;"><%= product.price %>
                                </div>
                            </div> 
                    <div class="col-sm-6 col-xs-12 so">
                    <%= link_to '<button class="btn btn-sm" style="background:#3b5998;color:#fff;">View </button>'.html_safe,:id=>product.id,:controller=>'public',:action=>'info' %>
                                                    
                        </div>   
                        </div>    
                    </div>

                <% end %>  
                </div>
                </div>  
         
         <!---------------------------------------------------------------------------------->
         <div class="container-fluid" style="padding-top:20px;">
            <div class="row">
                <%= image_tag("back2.jpg",  :class => 'img-responsive back2',:alt => '')%>
                <div class="col-lg-9 col-lg-offset-3 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-12" style="padding-top:200px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong class="newsletter" style="margin-top:30px;">SUBSCRIBE OUR NEWSLETTERS</strong> <span><button type="button" class="btn b" style="background:#fff;margin-top:-10px;">Send
                  </button></span>
                    </div>
                </div> 
                <div class="col-lg-5 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                    style="padding-top:10px;padding-bottom:175px;">
                       <span><input type="checkbox"></span> By subscribing our newsletter you are agree to receive emails from us
                    </div>
                </div> 
            </div>
         </div>
         